body{
    background-color: rgb(0, 10, 49);
    color: rgb(243, 199, 118);
}
.header{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(243, 199, 118);
}
.head-box{
    border: 2px solid rgb(243, 199, 118);
    border-radius: 9px;
    padding: 5px 28px;
    text-align: center;
    font-size: large;
}
a{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(243, 199, 118);
}
.center{
    display: flex;
    width: 70%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.start{
    font-size: large;
    padding: 5px 20px 5px 20px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    border-radius: 10px;
}

.start:hover{
    background-color: rgb(64, 255, 0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 3s;

}
.stop{
    font-size: large;
    padding: 5px 20px 5px 20px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}

.stop:hover{
    background-color: rgb(225, 101, 0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 3s;
}
